__pycache__/
*.pyc
audio/
transcripts/
.env
ffmpeg.exe
ffprobe.exe

ffmpeg/
build/
dist/
*.spec
*.zip
*.toc
*.pkg
*.pyz
localpycs/
xref-*.html
warn-*.txt
.vscode/
.DS_Store
Thumbs.db

# Sistema de licencias
license.lic
public/data/
public/keys/public.key
